$primary-color: #f56718;
$secondary-color: #EB445F;
$accent-color-1: #C4515C;
$accent-color-2: #BD7A00;
$accent-color-3: #D84443;
$accent-color-4: #BC4789;
$accent-color-5: #40537E;
$accent-color-6: #FFBEC3;
$accent-color-7: #007E32;
$accent-color-8: #690000;
$accent-color-9: #402E32;
$error-color: #c5360d;
$error-text: #d14848;
$inactive-color: #cbd4d6;