$primary-color: #FF7F38;
$secondary-color: #F05D6D;
$accent-color-1: #458915;
$accent-color-2: #C68900;
$accent-color-3: #D84443;
$accent-color-4: #C0578F;
$accent-color-5: #46567E;
$error-color: #c5360d;
$error-text: #d14848;
$inactive-color: #cbd4d6;